html, body {
  min-height: 100%;
}

body {
  background-color: #132028;
  background-repeat: no-repeat;
  background-image: url(images/wallpaper.jpeg);
  background-position: center;
  background-size: cover;
  font-family: "avenir next", helvetica, arial, sans-serif;
}

.landing-page {
  padding: 200px 0;
  color: #fff;
  text-shadow: 0 0 1px #000;
}

.landing-page__title {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 1rem;
  margin: 0 0 2rem;
  text-align: center;
  text-transform: uppercase;
}

.landing-page__brand {
  margin-bottom: 2.5rem;
  text-align: center;
}

.landing-page__logo {
  width: 8rem;
  height: 8rem;
}

.landing-page__body {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  font-size: 16px;
}

.landing-page__body a {
  color: inherit;
}
