body {
  font-family: "avenir next", "helvetica neue", helvetica, arial, sans-serif;
}

.post-page__logo {
  width: 3.5em;
  height: auto;
  margin: 2em auto 1em;
  vertical-align: middle;
}

.post-page__logo-wrapper {
  text-align: center;
}

.masthead-title {
  font-size: 1rem;
}

.masthead-title a {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
}

.twitter-tweet {
  margin-bottom: 1.5rem !important;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-top: 4rem;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2.5rem;
  color: #7a7a7a;
}

strong {
  font-weight: 500;
}

.jsbin-wrapper {
  @media (min-width: 56em) {
    margin-left: -15%;
    margin-right: -15%;
  }
  @media (min-width: 64em) {
    margin-left: -25%;
    margin-right: -25%;
  }
}


.jsbin-not-loading-msg {
  display: block;
  font-size: 70%;
  text-align: center;
  color: #aaa;
}
